* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-style: normal;
}


body {
  background-color: #21212b;
  font-family: 'Open Sans', sans-serif;
}

/* The project uses Helvetica Neue font which I do not have rights to use therefore I used free Open Sans font */
